<nav class="navbar navbar-expand-lg navbar-dark bg-dark menuContainer">
    <a class="navbar-brand" href="#">Menu</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto menuLeft">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/baskets">Basket</a></li>
        </ul>

        <ul class="navbar-nav mr-auto menuRight">
            <li><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>