<!doctype html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/menu'); %>
    
    <h1>This is the about page</h1>  
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at pretium arcu, 
        vitae ullamcorper metus. Nam pulvinar lobortis tortor et euismod. 
        Pellentesque bibendum odio mollis, ullamcorper erat ac, suscipit tortor. 
        Fusce vehicula pulvinar ornare. Quisque posuere felis ligula, vel lobortis est euismod a. 
        Duis varius tincidunt cursus. Etiam eu lorem dictum, tristique felis vitae, tempor nisi. 
        Sed nisl nisl, cursus sit amet metus quis, venenatis maximus elit.
        Etiam quis sem ex. Etiam condimentum at tortor sed auctor. Nunc ornare rhoncus enim.
    </p>
</body>
</html>